[data-theme="hawaii"] {
  --bg: #f77f00;
  --header-bg-col: #003049;
  --text-color: #003049;
  --h1-text-color: rgb(243, 243, 243);
}

[data-theme="light"] {
  --bg: #d6e7f7;
  --header-bg-col: #fff9e6;
  --text-color: black;
}

[data-theme="dark"] {
  --bg: black;
  --header-bg-col: rgb(74, 74, 74);
  --text-color: rgb(180, 180, 180);
}
